/*@import url(http://fonts.googleapis.com/css?family=Comfortaa);*/
/* -------------- Please do not change the CSS for the below elements ----------- */

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Comfortaa', sans-serif;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ptotemy-game {
    position: fixed;
    width: 640px;
    height: 480px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#log {
    display: none;
    pointer-events: none;
}

#entities,
#items {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
}

.environment,
.location,
.entity,
.item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/* -------------- You can change CSS of elements below this as will ----------- */

#gameheader {
    left: 48%;
    top: 4%;
    font-size: 2.5em;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    height: auto;
    padding: 20px;
    text-align: center;
    width:46%;
}

.is-disabled {
    pointer-events: none;
    opacity: 0.2;
}

#statement-area {
    height: 75%;
    left: -1%;
    padding: 5%;
    top: 22%;
    width: 35%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

#question-image {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    overflow: hidden;
}

#question-image img {
    height: auto;
}

#options {
    height: 60%;
    top: 21%;
    width: 100%;
    text-align: center
}

#options li {
    cursor: pointer;
    float: right;
    height: 40px;
    list-style-type: none;
    margin: 5px;
    margin-right: -5px;
    padding: 10px;
    width: 51%;
    color: white;
    display: table;
}

#options li:nth-child(1) {
    background: rgba(234, 27, 27, 0.4);
}

#options li:nth-child(2) {
    background: rgba(234, 202, 27, 0.4);
}

#options li:nth-child(3) {
    background: rgba(123, 234, 27, 0.4);
}

#options li:nth-child(4) {
    background: rgba(27, 202, 234, 0.4);
}

#options li .option-text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    line-height: 1;
}

#options li:hover {
    background-color: darkgray;
    color: black;
}

#result {
    display: none;
    z-index: 99999;
}

#replay {
    left: 20%;
    top: 75%;
    width: 60%;
    height: 20%;
    font-size: 2em;
    z-index: 99999;
    display: none;
}

#quiz {
    display: none;
}

#knowmore {
    display: none;
}

#timer {
    background: none repeat scroll 0 0 black;
    border-radius: 50%;
    color: white;
    font-size: 4.2em;
    height: 80px;
    left: 14%;
    padding: 13px;
    text-align: center;
    top: 10%;
    width: 80px;
    z-index: 9999;
}

#progressBar {
    width: 90%;
    left: 5%;
    height: 5%;
    top: 86%;
    background: #c6c6c6;
    z-index: 999999;
    border: 1px solid black;
}

#progressBar .location {
    display: inline-block;
    position: relative;
}

.correctProgress {
    width: 100%;
    height: 100%;
    background: #7d9b53;
}

.incorrectProgress {
    width: 100%;
    height: 100%;
    background: #ad594e;
}

#score {
    top: 30%;
    width: 100%;
    font-size: 4em;
    text-align: center;
}