.back-container
{
  background-image:url("../assets/questionview/background.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  height:100%;
  overflow:hidden;
}
.formheading
{
  color:white;
  font-size:1.6em;
}
.main-option
{
  width:50px;
  height:50px;
  background-color:#2f517f;
  border-radius:5px;
  color:white;
  font-size:1.3em;
  display:table-cell;
  vertical-align:middle;
}
.mainquestion
{
  height:50px;
  color:white;
  font-size:1.2em;
  display:table-cell;
  vertical-align:middle;
}
.subquestion
{
  color:white;
  font-size:1em;
}
.dividerstyle
{
  background-image:url("../assets/questionview/divider.png");
  width: 100%;
  height: 20px;
}

/*.mainquestion-divnone
{
  height:auto;
  overflow-y :auto;
  background-color:red;
}*/

.ratings_white{
    content: url('../assets/questionview/whitestar.png');
}

.ratings_star{
    content: url('../assets/questionview/bluestar.png');
}

.bottomstrip
{
  position:fixed;
  bottom:0px;
}
.questionlist
{
  overflow-y: auto;
  overflow-x: hidden;
}

