  .slide-container
    {
        display:none;
      position: absolute;
      left: 24%;
    }
    .center-panel{
        display:none
    }
    .nav-controls
    {
        position: absolute;
bottom: 0;
    }